 <html>

 <body></body>
 <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Category: Berita Terbaru</h2>
          <!-- <ol>
            <li><a href="index.html">Home</a></li>
            <li>Blog</li>
          </ol> -->
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry">

              <div class="entry-img">
                <img src="assets/img/blog/berita-1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Kemendikbudristek Dukung Strategi Pengendalian Covid-19 yang Lebih Aktif</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">Admin</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Sept 28, 2021</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">7 Komentar</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  Kementerian Pendidikan, Kebudayaan, Riset, dan Teknologi (Kemendikbudristek) siap berkolaborasi dengan Kementerian Kesehatan (Kemenkes) untuk penerapan strategi pengendalian Covid-19 yang lebih aktif.
                  Yang pertama adalah memastikan pelaksanaan tes acak di satuan pendidikan. Kemudian, integrasi aplikasi PeduliLindungi pada satuan pendidikan untuk menghasilkan data yang valid.
                </p>
                <div class="read-more">
                  <a href="blog-single.html">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            <article class="entry">

              <div class="entry-img">
                <img src="assets/img/blog/Praktikum.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Praktikum IPA Siswa Kelas VI SD Juara Paragon Jakarta Selatan</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">Admin</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Sept 28, 2021</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">5 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  Jakarta - Sejak awal bulan Agustus, siswa kelas 6 SD Juara Paragon Jakarta selatan (SDJ Paragon Jaksel) mendapat tugas proyek pada mata pelajaran Ilmu Pengetahuan Alam (IPA) tentang cara perkembangbiakan vegetatif alami (umbi lapis) pada bawang merah (2/8).
                  Pada kesempatan tersebut siswa-siswi diminta menanam bawang merah dan melakukan pengamatan terhadap perkembangbiakan tanaman tersebut di rumah masing-masing.  Mereka belajar menggunakan media konkret dari tumbuhan sekitar yang pada dasarnya sering dilihat dan dikonsumsi sehari-hari
                </p>
                <div class="read-more">
                  <a href="blog-single.html">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            <article class="entry">

              <div class="entry-img">
                <img src="assets/img/blog/Subuh.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Pekan Subuh Bersemangat Bersama (PSBB).</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">Admin</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Sept 21, 2021</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">11 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  Jakarta - Pantang tidur sehabis Subuh di hari Jumat adalah tema yang digadang-gadang oleh SDS Juara Paragon Jaksel di semester ini. Untuk menyemangati proses belajar ini maka setiap dua pekan sekali sekolah menyiapkan kegiatan berupa mendengarkan kisah dan cerita yang dibawakan langsung oleh Kepala Sekolah dengan boneka Mentari.
                  Kegiatan yang diadakan setiap Jumat sehabis salat Subuh ini dimulai dari pukul 05.30 WIB sampai pukul 06.00 WIB. Kegiatan ini disambut dengan suka cita oleh orang tua dan semua anak SDS Juara Paragon Jaksel. Pertemuan yang dilakukan melalui media daring berupa aplikasi Zoom ini tidak mengurangi rasa keseruan yang diterima anak walau mereka berada di rumah masing-masing.
                </p>
                <div class="read-more">
                  <a href="blog-single.html">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            <article class="entry">

              <div class="entry-img">
                <img src="assets/img/blog/PTS.jpeg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Pelaksanaan PTS di SD Juara Paragon Jakarta Selatan.</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  Jakarta- Memasuki pekan keempat di bulan September, SD Juara Paragon Jaksel (SDJ Paragon Jaksel) tengah mengadakan Penilaian Tengah Semester (PTS).
                  Pelaksanaan PTS tersebut sudah  berlangsung sejak hari Senin-Jumat sesuai dengan jadwal pada kalender akademik yang telah dibagikan kepada orang tua pada awal semester. Tepat di hari Jumat (24/09) inilah menjadi hari terakhir dalam pelaksanaan PTS di SDJ Paragon Jaksel.
                </p>
                <div class="read-more">
                  <a href="blog-single.html">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">Berita SD Juara Jaksel </a></li>
                  <li><a href="#">Berita Pendidikan </a></li>
                  <li><a href="#">E-Book Pendidikan </a></li>
                  <!-- <li><a href="#">Design <span>(22)</span></a></li>
                  <li><a href="#">Creative <span>(8)</span></a></li>
                  <li><a href="#">Educaion <span>(14)</span></a></li> -->
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-1.jpg" alt="">
                  <h4><a href="blog-single.html">Kemendikbudristek Dukung Strategi Pengendalian Covid-19 yang Lebih Aktif</a></h4>
                  <time datetime="2020-01-01">Aug 8, 2021</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-2.jpg" alt="">
                  <h4><a href="blog-single.html">Praktikum IPA Siswa Kelas VI SD Juara Paragon Jakarta Selatan</a></h4>
                  <time datetime="2020-01-01">Aug 1, 2021</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-3.jpg" alt="">
                  <h4><a href="blog-single.html">Pekan Subuh Bersemangat Bersama (PSBB)</a></h4>
                  <time datetime="2020-01-01">Jul 27, 2021</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-4.jpg" alt="">
                  <h4><a href="blog-single.html">Pelaksanaan PTS di SD Juara Paragon Jakarta Selatan</a></h4>
                  <time datetime="2020-01-01">Jun 18, 2021</time>
                </div>

                <!-- <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-5.jpg" alt="">
                  <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                  <time datetime="2020-01-01">Apr 30, 2021</time>
                </div> -->

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">Pendidikan</a></li>
                  <li><a href="#">Kemendikbudristek</a></li>
                  <li><a href="#">SD Juara</a></li>
                  <li><a href="#">Beasiswa</a></li>
                  <li><a href="#">Sekolah</a></li>
                  <!-- <li><a href="#">Office</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Smart</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li> -->
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  
</body>

</html>